<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/make">컨테이너 만들기</a></li>
          <li><a href="/manage">내 컨테이너 관리</a></li>
          <li><a href="/myinfo">내정보</a></li>
          <li><a href="/">로그아웃</a></li>
        </ul>
      </nav>
    </header>
    <h1 style="text-align: center">무료 계정으로 로그인하였습니다.</h1>
  </body>
</html>
