<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>컨테이너</title>
    <link rel="stylesheet" href="/make.css" />
    <!-- 외부 CSS 파일 링크 -->
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="/make">컨테이너 만들기</a></li>
        <li><a href="/makecontainer">내 컨테이너 관리</a></li>
        <li><a href="/board">게시판</a></li>
        <li><a href="/myinfo">내정보</a></li>
        <li><a href="/">로그아웃</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <div class="container">
      <h1>컨테이너 만들기</h1>
      <form action="/createContainer" method="post">
        <div>
          <label for="operatingSystem">운영 체제를 선택하세요:</label>
          <select id="operatingSystem" name="operatingSystem">
            <option value="ubuntu:20.04">Ubuntu 20.04</option>
          </select>
        </div>
        <div>
          <label for="containername">컨테이너 이름:</label>
          <input
            type="text"
            id="containername"
            name="containername"
            required
            pattern="[A-Za-z]*"
            title="영어로만 입력하세요"
          />
          <% if (typeof errorContainerName !== 'undefined') { %>
          <p style="color: red"><%= errorContainerName %></p>
          <% } %>
        </div>
        <div>
          <label for="containerDuration">컨테이너 사용 기간:</label>
          <input type="date" id="containerDuration" name="containerDuration" />
          <span>부터</span>
          <input type="date" id="endDate" name="endDate" />
          <span>까지</span>
        </div>
        <div>
          <label for="containerPort">컨테이너 포트:</label>
          <input
            type="number"
            id="containerPort"
            name="containerPort"
            min="30000"
            max="39999"
            required
          />
        </div>

        <div>
          <button type="submit" name="action" value="create">Create</button>
          <button type="submit" name="action" value="cancel">Cancel</button>
          <% if (typeof errorContainerName !== 'undefined') { %>
          <p class="error-message"><%= errorContainerName %></p>
          <% } else if (typeof errorContainerPort !== 'undefined') { %>
          <p class="error-message"><%= errorContainerPort %></p>
          <% } %>
        </div>
      </form>
    </div>
  </body>
</html>
